<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.GoodtypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Goodtype">
		<id column="typeid" property="typeid" />
		<result column="name" property="name" />
		<result column="pid" property="pid" />
		<result column="grade" property="grade" />
	</resultMap>

	<resultMap id="allType" type="com.qianfeng.smarthome.vo.VMenu">
		<id column="id" property="id"></id>
		<result column="typename" property="typename"></result>
		<collection property="list" javaType="java.util.ArrayList" ofType="goodtype" resultMap="BaseResultMap"></collection>

	</resultMap>


	<select id="findAllType" resultMap="allType">
	SELECT t.typeid id,t.name typename,g.* FROM t_goodtype t INNER JOIN t_goodtype g ON t.typeid=g.pid
	</select>


</mapper>
