<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.GoodcommentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Goodcomment">
		<id column="id" property="id" />
		<result column="uid" property="uid" />
		<result column="comment" property="comment" />
		<result column="score" property="score" />
		<result column="commenttime" property="commenttime" />
		<result column="gid" property="gid" />
	</resultMap>

	<select id="findAll" parameterType="int" resultType="com.qianfeng.smarthome.vo.VComment">
		select u.uname,c.commenttime,c.`comment` from t_goodcomment c
INNER JOIN t_user u
where gid = #{gid}
	</select>
	<select id="AllComment" parameterType="int" resultType="com.qianfeng.smarthome.vo.VComment">
		select case
		when (AVG(score)>80 and AVG(score)&lt;100)  then '*****'
		when (AVG(score)>60 and AVG(score)&lt;80)  then '****'
		when (AVG(score)>40 and AVG(score)&lt;60)  then '***'
		else '**' end as SC  from t_goodcomment
		WHERE  gid = #{gid}
	</select>

</mapper>
