<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.GoodMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Good">
		<id column="gid" property="gid" />
		<result column="gname" property="gname" />
		<result column="gprice" property="gprice" />
		<result column="gmodel" property="gmodel" />
		<result column="gimg" property="gimg" />
		<result column="gnum" property="gnum" />
		<result column="gdetail" property="gdetail" />
		<result column="gtitle" property="gtitle" />
		<result column="typeid" property="typeid" />
	</resultMap>

	<resultMap id="TypeGoods" type="com.qianfeng.smarthome.vo.VMenu">
		<id column="id" property="id"></id>
		<result column="typename" property="typename"></result>
		<collection property="list" javaType="java.util.ArrayList" ofType="good" resultMap="BaseResultMap"></collection>

	</resultMap>

	<select id="selectDetails" parameterType="int" resultType="com.qianfeng.smarthome.entity.Good">
		select gimg2 from t_good
		where 	where gid = #{gid}
	</select>

	<select id="findAllGoods" resultMap="TypeGoods">
		SELECT t.typeid id,t.name typename,o.* FROM t_goodtype t INNER JOIN t_goodtype g ON t.typeid=g.pid INNER JOIN t_good o ON g.typeid=o.typeid
	</select>
</mapper>
