<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.InstallMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Install">

		<id column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="status" property="status" />
		<result column="serviceTime" property="serviceTime" />
		<result column="address" property="address" />
		<result column="gmodel" property="gmodel" />
		<result column="desc" property="desc" />
		<result column="createTime" property="createTime" />
	</resultMap>


</mapper>
