<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.MaintainserviceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Maintainservice">
		<result column="id" property="id" />
		<result column="serviceName" property="serviceName" />
		<result column="troubleType" property="troubleType" />
		<result column="serviceTime" property="serviceTime" />
		<result column="address" property="address" />
		<result column="pid" property="pid" />
		<result column="pmodel" property="pmodel" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
