<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smarthome.mapper.OrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qianfeng.smarthome.entity.Order">
		<id column="id" property="id" />
		<result column="orderNum" property="orderNum" />
		<result column="price" property="price" />
		<result column="status" property="status" />
		<result column="createTime" property="createTime" />
		<result column="userId" property="userId" />
		<result column="gid" property="gid" />
	</resultMap>

	<select id="selectAll" parameterType="int" resultType="com.qianfeng.smarthome.vo.VOrder">
SELECT g.*,o.orderNum, r.statusName from t_good g
INNER JOIN t_order o on g.gid = o.gid
INNER JOIN t_orderstatus r on o.`status` = r.id
where userId = #{userId}

	</select>

</mapper>
